NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_KEY=your_supabase_anon_key
NEXT_PUBLIC_YOUTUBE_VIDEO_ID=pLnb9R_h8cs
NEXT_PUBLIC_SCHEDULE_URL=https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ0-ZaHYO1gMxbNE0EFZ_4yxqFxDisi8n0vIWLwqQO03WAuOaBSaZnR8f1EcOFbygIjQ14iIwNrL
NEXT_PUBLIC_ENABLE_SUBSCRIPTIONS=false
